* {
    border: 0px;
    padding: 0px;
    margin: 0px;

}

body {
    background-color: rgba(67, 137, 197, 0.547);
    
}
img {
    padding: 0px;
    margin: 20%;

}

.ul {
    background-attachment: fixed;
    text-align: end;
    padding: 10px;
    margin: 2px;
    font-weight: bold;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    
}

li {
    text-align: end;
    text-shadow: 2px;
    display: inline;
    font-weight: bold;
    background-color: white;
}
li:hover {
    cursor: pointer;
    color: darkred;
}



