
body {
    background-color: aliceblue;
    padding: 10% ;

}

.button {
    color: black;
    padding: auto;
    background-attachment: fixed;
    text-align: center;
    text-emphasis-color: black;

}